.logout-btn {
    margin: 0 auto;
    display: block !important;
}

.logo {
    width: 50px;
}

#cartcount {
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -8px;
    border-radius: 50%;
    margin-top: -5px;
}


.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
}

.fa-shopping-cart {
    font-size: 20px;
}